My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2464,
        576
      ],
      "id": "6455b6f7-15db-46dd-a17d-8610d4ec4e4b"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -2016,
        576
      ],
      "id": "28049543-c1c6-46e2-8b0b-e443330144c6"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "playerName",
              "value": "={{ $json[\"Pregunta 1\"] }}"
            },
            {
              "name": "originalFileName",
              "value": "={{ $json.Prueba[0]?.split('/').pop().split('?')[0] }}\n\n"
            },
            {
              "name": "rawlink",
              "value": "={{ $json.Prueba[0]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1568,
        576
      ],
      "id": "ea43b997-3fb2-463f-8d43-00f9a183f53d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "name": "={{$json.playerName}}",
        "options": {}
      },
      "name": "Search Folder1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -1344,
        576
      ],
      "id": "2abf19af-b515-4573-ba2d-4917787f08b1",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bz5GqGo4Wy2ZySgs",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value2": "=={{ $items(\"Search Folder1\").length }}"
            }
          ]
        }
      },
      "name": "Check Folder1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1120,
        576
      ],
      "id": "ea3296a8-80c0-431f-b1d1-e8cd8fce987f"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Set Data1').item.json['Pregunta 1'] }}",
        "options": {
          "parents": [
            "12kuQqHs1cgbKEAA0srMkjrriW4ZTzUEx"
          ]
        }
      },
      "name": "Create Folder1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -896,
        672
      ],
      "id": "fc370a08-720a-4a46-88f6-e8225f67f49d",
      "credentials": {
        "googleApi": {
          "id": "ZQwCQu5z3LC3dLyT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.originalFileName}}",
        "parents": "={{ [$json[0].id] }}",
        "options": {}
      },
      "name": "Upload to Drive (exists)1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -896,
        480
      ],
      "id": "261a20f1-8082-432b-ac99-eedbd8b2e73e",
      "credentials": {
        "googleApi": {
          "id": "ZQwCQu5z3LC3dLyT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "231af9dcfc5480d2a3e3f902adcbaabf",
          "mode": ""
        },
        "returnAll": true,
        "options": {}
      },
      "name": "Buscar archivos en Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        -2240,
        576
      ],
      "id": "4bde6e60-3dcb-413e-99fc-b8f5e7ca4616",
      "credentials": {
        "notionApi": {
          "id": "PlCmSaWSUxTMAxOk",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Prueba[0] }}\n",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Descargar archivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1792,
        576
      ],
      "id": "e0862f81-68f2-4815-9d18-aeaf97d4dd68"
    },
    {
      "parameters": {
        "fileContent": "={{ $('Set Data1').item.json.Prueba[0] }}",
        "name": "=",
        "parents": [
          "={{ $json.id }}"
        ],
        "options": {}
      },
      "name": "Update File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -672,
        672
      ],
      "id": "a5474540-5965-4b4f-8473-1123f49a2a5b",
      "credentials": {
        "googleApi": {
          "id": "ZQwCQu5z3LC3dLyT",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Buscar archivos en Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "Descargar archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data1": {
      "main": [
        [
          {
            "node": "Search Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Folder1": {
      "main": [
        [
          {
            "node": "Check Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Folder1": {
      "main": [
        [
          {
            "node": "Upload to Drive (exists)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar archivos en Notion": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar archivo": {
      "main": [
        [
          {
            "node": "Set Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder1": {
      "main": [
        [
          {
            "node": "Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9210248c-6fa1-471f-8d6d-b538d03e8fe2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4342da80024d238c7ff9a20e160bc5de434d763102247d2d283695b8937105c4"
  },
  "id": "mVVejgDIyLeV7HRS",
  "tags": []
}